# MongoDB connection string
MONGODB_URI = "<put your own URI>"
DATABASE_NAME= "<Give your DB name>"

# JWT settings for admin creation and authentication
SECRET_KEY="<generate your own key>"
ADMIN_CREATION_SECRET="<generate you own>"

# RAG agent API key
GEMINI_API_KEY = "<give your API>"
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python

# Token expiration time in minutes
ALGORITHM=<choose your algo>
ACCESS_TOKEN_EXPIRE_MINUTES=<set your expiration timing>
